        <div class="axil-header-top">
        <div class="container">
            <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="header-top-dropdown"></div>
            </div>
            <div class="col-sm-6">
                <div class="header-top-link">
                <ul class="quick-link">
                    <li>
                        <a href="terms-of-service.html">
                        الشكاوى والمقترحات
                        </a>
                    </li>
                    <li>
                        <a href="privacy-policy.html">
                        السياسات والخصوصية
                        </a>
                    </li>
                    <li>
                    <a href="sign-up.html">
                        تسجيل حساب
                    </a>
                    </li>
                    <li>
                    <a href="sign-in.html">
                        تسجيل دخول
                    </a>
                    </li>
                </ul>
                </div>
            </div>
            </div>
        </div>
        </div>
        <!-- Start Mainmenu Area  -->
        <div id="axil-sticky-placeholder"></div>
        <div class="axil-mainmenu">
        <div class="container">
            <div class="header-navbar">
            <div class="header-brand">
                <a href="index.html" class="logo logo-dark">
                <img src="assets/images/logo/logo.png" alt="Site Logo" />
                </a>
                <a href="index.html" class="logo logo-light">
                <img src="assets/images/logo/logo.png" alt="Site Logo" />
                </a>
            </div>
            <div class="header-main-nav">
                <!-- Start Mainmanu Nav -->
                <nav class="mainmenu-nav">
                <button class="mobile-close-btn mobile-nav-toggler">
                    <i class="fas fa-times"></i>
                </button>
                <div class="mobile-nav-brand">
                    <a href="index.html" class="logo">
                    <img src="assets/images/logo/logo.png" alt="Site Logo" />
                    </a>
                </div>
                <ul class="mainmenu">
                    <li>
                    <a href="index.html">
                        الرئيسية
                    </a>
                    </li>
                    
                    <li>
                    <a href="shop.html">
                        كل المنتجات
                    </a>
                    </li>
                    <li>
                    <a href="shop.html">
                        كروت شخصية
                    </a>
                    </li>
                    
                    <li>
                    <a href="shop.html">
                            تجميعات الروشتات
                    </a>
                    </li>
                    <li>
                    <a href="contact.html">
                        إتصل بنا
                    </a>
                    </li>
                    <li>
                    <a href="shop.html">
                        منتجات اخرى
                    </a>
                    </li>
                    <li>
                    
                    </li>
                </ul>
                </nav>
                <!-- End Mainmanu Nav -->
            </div>
            <div class="header-action">
                <ul class="action-list">
                <li class="axil-search">
                    <a
                    href="javascript:void(0)"
                    class="header-search-icon"
                    title="Search"
                    >
                    <i class="flaticon-magnifying-glass"></i>
                    </a>
                </li>
                <li class="wishlist">
                    <a href="wishlist.html">
                    <i class="flaticon-heart"></i>
                    </a>
                </li>
                <li class="shopping-cart">
                    <a href="#" class="cart-dropdown-btn">
                    <span class="cart-count">3</span>
                    <i class="flaticon-shopping-cart"></i>
                    </a>
                </li>
                <li class="my-account">
                    <a href="javascript:void(0)">
                    <i class="flaticon-person"></i>
                    </a>
                    <div class="my-account-dropdown">
                    <ul>
                        <li>
                        <a href="my-account.html">
                            طلباتى
                        </a>
                        </li>
                        <li>
                        <a href="my-account.html">
                            طلبات التواصل
                        </a>
                        </li>
                        <li>
                        <a href="my-account.html">
                            قائمة المفضلة
                        </a>
                        </li>
                        <li>
                        <a href="my-account.html">
                            عناوين الشحن
                        </a>
                        </li>
                        <li>
                        <a href="my-account.html">
                            الملف الشخصى
                        </a>
                        </li>
                        <li>
                        <a href="my-account.html">
                            تسجيل الخروج
                        </a>
                        </li>
                    </ul>
                    
                    </div>
                </li>
                <li class="axil-mobile-toggle">
                    <button class="menu-btn mobile-nav-toggler">
                    <i class="flaticon-menu-2"></i>
                    </button>
                </li>
                </ul>
            </div>
            </div>
        </div>
        </div>
        <!-- End Mainmenu Area -->