
<div class="cart-dropdown" id="cart-dropdown">
    <div class="cart-content-wrap">
        <div class="cart-header">
            <h2 class="header-title">مراجعة السلة</h2>
            <button class="cart-close sidebar-close"><i class="fas fa-times"></i></button>
        </div>
        <div class="cart-body">
            <ul class="cart-item-list">
                <li class="cart-item">
                    <div class="item-img">
                        <a href="single-product.html"><img src="assets/images/products/1.png" alt="مصباح بلون كومودو"></a>
                        <button class="close-btn"><i class="fas fa-times"></i></button>
                    </div>
                    <div class="item-content">
                        <div class="product-rating">
                            <span class="icon">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="rating-number">(64)</span>
                        </div>
                        <h3 class="item-title"><a href="single-product-3.html"> مجلات </a></h3>
                        <div class="item-price"><span class="currency-symbol">ج.م</span>155.00</div>
                        <div class="pro-qty item-quantity">
                            <input type="number" class="quantity-input" value="15">
                        </div>
                    </div>
                </li>
                <li class="cart-item">
                    <div class="item-img">
                        <a href="single-product.html"><img src="assets/images/products/2.png" alt="مصباح بلون كومودو"></a>
                        <button class="close-btn"><i class="fas fa-times"></i></button>
                    </div>
                    <div class="item-content">
                        <div class="product-rating">
                            <span class="icon">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="rating-number">(4)</span>
                        </div>
                        <h3 class="item-title"><a href="single-product-2.html">  بروشور </a></h3>
                        <div class="item-price"><span class="currency-symbol">ج.م</span>255.00</div>
                        <div class="pro-qty item-quantity">
                            <input type="number" class="quantity-input" value="5">
                        </div>
                    </div>
                </li>
                <li class="cart-item">
                    <div class="item-img">
                        <a href="single-product.html"><img src="assets/images/products/3.png" alt="مصباح بلون كومودو"></a>
                        <button class="close-btn"><i class="fas fa-times"></i></button>
                    </div>
                    <div class="item-content">
                        <div class="product-rating">
                            <span class="icon">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="rating-number">(6)</span>
                        </div>
                        <h3 class="item-title"><a href="single-product.html">  ليتر هيد </a></h3>
                        <div class="item-price"><span class="currency-symbol">ج.م</span>200.00</div>
                        <div class="pro-qty item-quantity">
                            <input type="number" class="quantity-input" value="100">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="cart-footer">
            <h3 class="cart-subtotal">
                <span class="subtotal-title">الإجمالي:</span>
                <span class="subtotal-amount">ج.م610.00</span>
            </h3>
            <div class="group-btn">
                <a href="cart.html" class="axil-btn btn-bg-primary viewcart-btn">عرض السلة</a>
                <a href="checkout.html" class="axil-btn btn-bg-secondary checkout-btn">إتمام الشراء</a>
            </div>
        </div>
    </div>
</div>

 <!-- Header Search Modal End -->
<div class="header-search-modal" id="header-search-modal">
    <button class="card-close sidebar-close"><i class="fas fa-times"></i></button>
    <div class="header-search-wrap">
        <div class="card-header">
            <form action="#">
                <div class="input-group">
                    <input type="search" class="form-control" name="prod-search" id="prod-search" placeholder="Write Something....">
                    <button type="submit" class="axil-btn btn-bg-primary"><i class="far fa-search"></i></button>
                </div>
            </form>
        </div>
        <div class="card-body" dir="rtl">
          <div class="search-result-header">
              <h6 class="title">تم العثور على 24 نتيجة</h6>
              <a href="shop.html" class="view-all">عرض الكل</a>
          </div>
          <div class="psearch-results">
              <div class="axil-product-list">
                  <div class="thumbnail">
                      <a href="single-product.html">
                          <img src="./assets/images/products/4.png" alt="Yantiti Leather Bags">
                      </a>
                  </div>
                  <div class="product-content">
                      <div class="product-rating">
                          <span class="rating-icon">
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fal fa-star"></i>
                          </span>
                          <span class="rating-number"><span>100+</span> تقييم</span>
                      </div>
                      <h6 class="product-title"><a href="single-product.html">  ليتر هيد </a></h6>
                      <div class="product-price-variant">
                          <span class="price current-price">ج.م29.99</span>
                          <span class="price old-price">ج.م49.99</span>
                      </div>
                      <div class="product-cart">
                          <a href="cart.html" class="cart-btn" title="أضف إلى السلة"><i class="fal fa-shopping-cart"></i></a>
                          <a href="wishlist.html" class="cart-btn" title="أضف إلى المفضلة"><i class="fal fa-heart"></i></a>
                      </div>
                  </div>
              </div>

              <!-- نسخة أخرى من المنتج -->
              <div class="axil-product-list">
                  <div class="thumbnail">
                      <a href="single-product.html">
                          <img src="./assets/images/products/5.jpeg" alt="Yantiti Leather Bags">
                      </a>
                  </div>
                  <div class="product-content">
                      <div class="product-rating">
                          <span class="rating-icon">
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fal fa-star"></i>
                          </span>
                          <span class="rating-number"><span>100+</span> تقييم</span>
                      </div>
                      <h6 class="product-title"><a href="single-product.html"> مجلات  </a></h6>
                      <div class="product-price-variant">
                          <span class="price current-price">ج.م29.99</span>
                          <span class="price old-price">ج.م49.99</span>
                      </div>
                      <div class="product-cart">
                          <a href="cart.html" class="cart-btn" title="أضف إلى السلة"><i class="fal fa-shopping-cart"></i></a>
                          <a href="wishlist.html" class="cart-btn" title="أضف إلى المفضلة"><i class="fal fa-heart"></i></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>

    </div>
</div>
<!-- Header Search Modal End -->