<div class="container">
    <div class="row row-cols-xl-4 row-cols-sm-2 row-cols-1 row--20">
        <div class="col">
        <div class="service-box service-style-2">
            <div class="icon">
            <img src="./assets/images/icons/1.png" alt="Service" />
            </div>
            <div class="content">
            <h6 class="title">
                توصيل سريع وآمن
            </h6>
            <p>
                أخبرنا عن خدمتك.
            </p>
            </div>
        </div>
        </div>
        <div class="col">
        <div class="service-box service-style-2">
            <div class="icon">
            <img src="./assets/images/icons/4.png" alt="Service" />
            </div>
            <div class="content">
            <h6 class="title">
                ضمان استعادة الأموال
            </h6>
            <p>
                خلال 10 أيام.
            </p>
            </div>
        </div>
        </div>
        <div class="col">
        <div class="service-box service-style-2">
            <div class="icon">
            <img src="./assets/images/icons/2.png" alt="Service" />
            </div>
            <div class="content">
            <h6 class="title">
                سياسة الإرجاع خلال 24 ساعة
            </h6>
            <p>
                لا نسأل أي سؤال..</p>
            </div>
        </div>
        </div>
        <div class="col">
        <div class="service-box service-style-2">
            <div class="icon">
            <img src="./assets/images/icons/5.png" alt="Service" />
            </div>
            <div class="content">
            <h6 class="title">
                دعم الجودة الاحترافية
            </h6>
            <p>24/7 دعم مباشر.</p>
            </div>
        </div>
        </div>
    </div>
</div>